numpy>=1.23
scipy>=1.9
pandas>=1.5
scikit-learn>=1.2
tqdm
networkx
matplotlib
seaborn
joblib
setproctitle
wandb

torch>=2.0
torchvision
torchaudio

torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
